/**
 * GLOBAL CSS
 * ------------------------------------------------------------------------- */
/* Variables */
:root {
  --white: #ffffff;
  --pink: #f15e75;
  --light-gray: #f7f8f9;
  --gray: #bcbcbc;
  --dark-gray: #343a40;
}

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-padding-top: 80px;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  line-height: 1.5;
  color: var(--dark-gray);
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--pink);
  text-transform: capitalize;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--dark-gray);
}

a:hover {
  color: var(--pink);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/**
 * HEADER
 * ------------------------------------------------------------------------- */
.header {
  background-color: var(--white);
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 1px 1px 5px 0px var(--gray);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

/* Logo */
.logo {
  max-height: 64px;
  width: 64px;
  height: 64px;
  padding-bottom: 4px;
}

.nav {
  margin: 8px 0;
}

/* Navigation */
.nav-item {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 600;
}

.nav-item:not(:last-of-type) {
  padding-right: 20px;
}

/**
 * HERO
 * ------------------------------------------------------------------------- */
.hero-banner {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-gray);
  margin-top: 80px;
  flex-direction: column;
  background-image: url('../images/hero-bg.svg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.hero-banner img {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin-bottom: 20px;
}

.hero-banner p {
  font-size: 1.3rem;
}

/**
 * MAIN CONTENT
 * ------------------------------------------------------------------------- */
.page-wrapper {
  padding: 50px 0;
}

.page-section {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

.page-section h2 {
  margin-right: 20px;
  width: 115px;
  text-align: right;
}

.section-left {
  min-height: 72px;
  width: 100%;
  border-left: 3px solid var(--pink);
  padding-left: 20px;
}

#about .section-left,
#contact .section-left {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

#contact .section-left {
  justify-content: space-between;
}

#work p {
  margin-bottom: 10px;
}

.work-images {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 300px 300px;
  grid-template-areas:
    'project-one project-one'
    'project-two project-three';
  margin: -5px;
}

#project-one {
  grid-area: project-one;
  background-image: url(../images/02-portfolio-1.jpg);
}
#project-two {
  grid-area: project-two;
  background-image: url(../images/02-portfolio-3.jpg);
}

#project-three {
  grid-area: project-three;
  background-image: url(../images/02-portfolio-4.jpg);
}

.work-grid {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.heading {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  height: 48px;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid var(--pink);
  align-items: center;
  display: flex;
}

/**
 * FOOTER
 * ------------------------------------------------------------------------- */
footer {
  padding: 48px 0;
  text-align: center;
  background-color: var(--dark-gray);
  color: var(--white);
}

/**
 * MEDIA QUERIES
 * ------------------------------------------------------------------------- */
@media screen and (max-width: 600px) {
  /* Main content */
  .page-section {
    flex-direction: column;
  }
  .page-section h2 {
    width: 150px;
    text-align: center;
    border-bottom: 3px solid var(--pink);
    margin: 0 auto;
  }
  .work-images {
    grid-template-columns: 100%;
    grid-template-rows: 300px 300px 300px;
    grid-template-areas:
      'project-one'
      'project-two'
      'project-three';
    margin: -5px;
  }
  #contact .section-left {
    flex-direction: column;
  }
}
@media screen and (max-width: 960px) {
  /* Global CSS */
  html {
    scroll-padding-top: 88px;
  }
  h1 {
    font-size: 1.8rem;
  }

  /* Header */
  .header-wrapper {
    flex-direction: column;
    height: auto;
    width: 100%;
    text-align: center;
  }
  .logo {
    width: 48px;
    height: 48px;
  }
  .nav {
    display: flex;
    flex-direction: row;
  }
  .nav li:not(:last-of-type) {
    padding-right: 10px;
  }

  /* Hero */
  .hero-banner {
    margin-top: 88px;
  }

  /* Main content */
  .page-wrapper section {
    padding: 50px 20px;
    width: 100%;
  }
  .section-left {
    border-left: none;
  }
  #about .section-left,
  #work .section-left,
  #contact .section-left {
    padding-left: 0;
    padding-top: 10px;
  }
}

@media screen and (min-width: 1601px) {
  /* Wrappers */
  .header-wrapper,
  .page-wrapper section {
    width: 70%;
  }
}
